* {
  margin: 0px;
  padding: 0px;
  background-color: black;
}

a {
  text-decoration: none;
}

/*HEADER*/
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/*MAIN*/
.main {
  display: flex;
  flex-direction: column;
}
.main-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #d2de56;
  padding: 15px;
  gap: 10px;
}
.main-inputName {
  width: 25%;
  height: 25px;
  color: black;
  font-weight: 20px;
  font-size: 20px;
  border: dotted 2px black;
  padding: 7px;
  margin: 5px;
  background-color: #d7e06c;
}
.main-inputName::placeholder {
  color: grey;
  font-size: 15px;
}
.main-inputSpecie {
  width: 25%;
  height: 40px;
  border: dotted 2px #d7e06c;
  color: #d7e06c;
  font-size: 18px;
  font-weight: 20px;
  padding: 5px;
}
.main-section {
  padding: 0;
  margin: 25px;
}
.main-sectionList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}
.main-sectionCarac {
  list-style: none;
}
.main-sectionCarac-article {
  border: dotted 2px #7dbc45;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  color: #7dbc45;
  margin-bottom: 10px;
  text-decoration: none;
}
.main-sectionCarac-article:hover {
  background-color: #7dbc45;
  cursor: pointer;
}
.main-sectionCarac-articleName {
  border: solid 1px #7dbc45;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px;
  margin: 10px;
}
.main-sectionCarac-articleDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
  margin-bottom: 5px;
}
.main-sectionCarac-articleSpecie {
  font-size: 14px;
  color: #7dbc45;
  padding: 5px;
}
.main-sectionCarac-articleStatus {
  font-size: 14px;
  color: #7dbc45;
  padding: 5px;
}
